@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;900&display=swap');

:root{
    --fm: "Poppins",sans-serif;

    --fw-black: 900;
    --fw-medium: 500;
    --fw-regular: 400;

    --bg-color: #ffffff;
    --bg-color-alt: #f8f8f8;
    --bg-icon: #ffc947;

    --btn-color: #ffc947;
    --btn-color-alt: #e9b63f;

    --fcolor-primary: #11272e;
    --fcolor-secondary: #587083;

    --fcolor-primary-hover: #ffc947;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: var(--fm);
    background-color: var(--bg-color);
}

ul, li, a, button{
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: var(--fcolor-primary);
}

/* ::selection{
} */

/* ----------------- header ----------------- */

.header{
    font-family: var(--fm);
    font-weight: var(--fw-medium);
    padding: 10px 10%;
    top: 0;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.bg-fixed{
    background-color: var(--bg-color);
}

.logo{
    font-size: 1.4rem;
    font-weight: var(--fw-black);
    color: var(--fcolor-primary);
    letter-spacing: 1px;
    cursor: pointer;
    margin-right: auto;
}

.logo span{
    color: rgba(255, 201, 71, 1);
}

.nav__links{
    list-style: none;
}

.nav__links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a{
    color: var(--fcolor-secondary);
    transition: all 0.25s ease 0s;
}

.nav__links li a:hover{
    color: var(--fcolor-primary-hover);
}

.nav_btn{
    background-color: var(--btn-color);
    padding: 9px 25px;
    border-radius: 50px;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--fcolor-primary);
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.nav_btn:hover{
    background-color: var(--btn-color-alt);
}

/* ----------------- MAIN ----------------- */
.main{
    color: var(--fcolor-primary);
    margin: 13rem 10% 0;
}

.text-center{
    text-align: center;
}

/* -------------- main_home -------------- */

.main_home{
    scroll-margin-top: 13rem;
    font-size: 2rem;
}

.main_home h1{
    line-height: 5rem;
    margin-bottom: 1rem;
}

.main_home h3{
    font-weight: 500;
    font-size: 1.2rem;
}

.main_home img{
    border-radius: 50%;
    width: 400px;
    height: 400px;
    object-fit: cover;
    margin: -4rem 40rem;
    max-width: 100%;
    position: absolute;
    z-index: -1;
}

.btn{
    margin: 2.5rem 0;
}

.btn_bg{
    background-color: var(--btn-color);
    padding: 9px 25px;
    border-radius: 50px;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
    color: var(--fcolor-primary);
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.btn_bg:hover{
    background-color: var(--btn-color-alt);
}

/* ------------------ COLUMN ROW ------------------ */
/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    margin: 2rem 0;
    padding-right: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

/* ------------------ COLUMN ROW ------------------ */

/* -------------- main_about -------------- */

.main_about{
    color: var(--fcolor-primary);
    scroll-margin-top: 5rem;
    margin: 10rem 0 5rem 0;
}

/* Education */

.title{
    line-height: 3rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
}

.title_hobi{
    line-height: 2.2rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
}

.almt,.desc{
    font-size: 0.9rem;
}

.sosmed{
    margin-top: 3rem;
}

.sosmed i{
    margin-bottom: 1.5rem;
}

.column li{
    margin-left: 2rem;
}

.skills{
    float: left;
    padding-right: 5rem;
    max-width: 50%;
}

.skills li{
    padding: 5px 0;
}

/* buat ganti ke line hilangin*/ 
.edu li, .experie li{ 
    padding-bottom: 2rem;
}
/* -------------- END MAIN_ABOUT -------------- */

/* -------------- MAIN_PORTFOLIO -------------- */
.main_portfolio{
    color: var(--fcolor-primary);
    scroll-margin-top: 5rem;
    margin: 5rem 0;
}

.p_cnt{
    margin-top: 1rem;
}

.p_box{
    height: 300px;
    width: 300px;
    display: inline-block;
    padding: 15px;
}

.p_img{
    background-color: var(--bg-color);
    padding: 20px;
    height: 100%;
    width: 100%;
    font-size: 1rem;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #edeef3;
    display: flex;
}

.p_img:hover{
    box-shadow: 0px 0px 20px #dedfe4;
}

.p_img span{
    text-align: center;
    margin-right: 5px;
    background-color: #ffffff00;
    /* color: #ffffff00; */
    visibility: hidden;
    padding: 5px 10px;
    border-radius: 5px;
    align-self: flex-end;
}

.p_img:hover span{
    visibility: visible;
    /* color: var(--fcolor-primary); */
    background-color: var(--bg-icon);
    transition: all .2s ease-in .05s;
}

/* isiKonten */
.p_1 .p_img{
    background-image: url(assets/portfo1_300x300.jpg);
    background-size: cover;
    background-position: center;
}

.p_2 .p_img{
    background-image: url(assets/portfo2_300x300.jpg);
    background-size: cover;
    background-position: center;
}

.p_3 .p_img{
    background-image: url(assets/portfo3_300x300.jpg);
    background-size: cover;
    background-position: center;
}

.p_4 .p_img{
    background-image: url(assets/portfo4_300x300.jpg);
    background-size: cover;
    background-position: center;
}
/* -------------- END MAIN_PORTFOLIO -------------- */

/* -------------- FOOTER -------------- */
.footer{
    background-color: var(--bg-color-alt);
    width: 100%;
    height: 28rem;
    scroll-margin-top: 5rem;
}

.content{
    color: var(--fcolor-primary);
    margin: 1rem 10%;
    padding: 2.5rem 0 0 0;
}

.footer img{
    width: 25rem;
    margin: 10rem 50rem;
    max-width: 100%;
    display: inline-block;
    position: absolute;
}

.form{
    margin: 15px 15px 40px;
    text-align: center;
}

#nama,#email,#msg,.submit{
    margin: 5px 0;
    padding: 1rem 1.7rem;
    width: 15.4rem;
    border-radius: 1rem;
    background-color: var(--btn-color);
    border: 2px solid var(--title-color);
    outline: none;
    color: var(--fcolor-primary);
}

::placeholder{
    color: var(--fcolor-secondary);
}

#msg{
    border-radius: 1rem;
    height: 10rem;
    width: 31rem;
}

.submit{
    cursor: pointer;
    width: 10rem;
    padding: 0.6rem 2rem;
    color: var(--fcolor-primary);
    font-weight: var(--fw-black);
}

.copyright{
    padding: 0.5rem;
    font-size: 0.8rem;
}

.copyright a{
    color: var(--fcolor-primary);
}

/* ALERTTT BOX */
#form_confirm {
    display: none;
    position: fixed;
    border-radius: 8px;
    border-left: 5px solid;
    border-left-color: #2ECC71;
    background: #c3f3d7;
    padding: 10px;
    color: #23ad5c;
    width: 480px;
    top: 89%;
    left: 28%;
}

#form_confirm .message{
    margin-left: 5px;
    margin-right: 30px;
}

#form_confirm button {
    margin-top: 3px;
    background: #c3f3d7;
    color: #23ad5c;
    border-color: #2ed573;
    border: none;
    float: right;
    cursor: pointer;
}

/* -------------- END FOOTER -------------- */

/* -------------- RESPONSIVE -------------- */
@media screen and (max-width:768px){
    .header{
        padding: 0 9%;
    }
    
    .nav__links{
        visibility: hidden;
    }

    .main{
        color: var(--fcolor-primary);
        margin: 10rem 5%;
    }
    
    /* main_home */
    
    .main_home{
        text-align: center;
        align-content: center;
    }
    
    .main_home h1{
        margin: 20px;
        font-size: 2rem;
        line-height: 3.5rem;
    }
    
    .main_home h3{
        font-weight: 500;
        font-size: 0.9rem;
        margin: -0.5rem 0;
    }
    
    .main_home img{
        width: 250px;
        height: 250px;
        margin: -1.5rem 0 0;
        position: relative;
    }

    .btn{
        margin: 1rem;
    }

    .column{
        padding: 1rem;
    }

    .skills{
        max-width: 100%;
    }

    .skills h3{
        padding: 1rem 0 0;
    }

    .footer{
        background-color: var(--bg-color-alt);
        width: 100%;
        height: 33rem;
        scroll-margin-top: 5rem;
    }

    #nama,#email,#msg,.submit{
        width: 20rem;
        max-width: 90%;
    }

    #msg{
        border-radius: 1rem;
        height: 10rem;
    }

    .submit{
        cursor: pointer;
        padding: 0.6rem 2rem;
        color: var(--fcolor-primary);
        font-weight: var(--fw-black);
    }

    .content{
        padding-top: 2rem;
    }

    .copyright{
        padding: 1rem;
        font-size: 0.8rem;
    }

    #form_confirm {
        font-size: 10px;
        height: 45px;
        max-width: 85%;
        top: 90%;
        left: 8%;
    }
    
    #form_confirm .message{
        margin: 5px 10px;
    }
    
    #form_confirm button{
        margin-top: -0.5px;
    }
}
